* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-font: 'Lato', sans-serif;
  --header-font: 'Abril Fatface', cursive;
  --secondary-font: 'Quicksand', sans-serif;
  --teal: #00b4d8;
  --dark-teal: #008ba3;
  --teal-gradient: linear-gradient(to bottom, #00b4d8 0%, #008ba3 100%);
  
}
body {
  font-weight: 300;

  font-family: var(--primary-font);
}